*.~
*.a
*.cmd
*.d
*.gcda
*.gcno
*.kdev4
*.ko
*.log
*.patch
*.map
*.o
*.x
*.pyc
*.so
*.swp
*.DS_Store
tags
cscope.out
CUnit-Memory-Dump.xml
*VC.db
.vscode
.project
.cproject
.settings
backup/
results/
